@using AritySystems.Data;
@model Order
@{
    ViewBag.Title = "Order Detail";
    var itemCounter = 1;
}

<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-shopping-cart"></i> Your Order Details</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">@Model.CreatedDate </div>
            <div class="col-md-12">
                @Model.Prefix
            </div>
            <div class="col-md-12">
               Status <span style="background-color:cadetblue;padding:4px;color:#fff;"> <i class="fa fa-refresh"></i> @(((AritySystems.Common.EnumHelpers.OrderStatus)int.Parse(Model.Status)).ToString())</span> 
            </div>
            <div class="col-md-12">
                Order Total <i class="fa fa-usd"></i>@Model.OrderLineItems.Sum(_ => (_.Quantity * _.DollarPurchasePrice)) </ div >
            </div>
            <div class="col-md-12" style="margin:25px 0px 10px 0;">
                <h4>Order Line Items</h4>
            </div>
        </div>
        <div class="col-md-1 col-md-offset-7"><button class="btn btn-primary" onclick="location.href='@Url.Action("orderlist","order")';"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button></div>
        <hr class="col-md-12" style="margin-bottom:25px;" />
        <div class="col-md-12" style="margin-bottom:50px;">
            <table class="tab-content table-striped" style="width:100%">
                <tr>
                    <th class="col">#</th>
                    <th class="col">Name</th>
                    <th class="col" style="text-align:center">Price</th>
                    <th class="col" style="text-align:center">Quntity/Unit</th>
                    <th class="col" style="text-align:center">Total</th>
                </tr>
                @foreach (var item in Model.OrderLineItems)
            {
                    <tr>
                        <td>@itemCounter</td>
                        <td>@item.Product.English_Name</td>
                        <td align="center"><i class="fa fa-usd"></i>@item.DollarPurchasePrice</td>
                        <td align="center">@item.Quantity</td>
                        <td align="center"><i class="fa fa-usd"></i>@(item.Quantity * item.DollarPurchasePrice)</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
